.main_form {
  margin: auto;
  width: 40vw !important;
  /* border: 1px solid #6e6e6e; */
  border-radius: 8px;
  padding: 30px 80px;
  margin-top: 30px;
  height: 60vh;
  max-width: 40vw !important;
  /* overflow-y: scroll; */
}
.form_buttons {
  margin-top: 25px !important;
}
.form_button-back {
  margin-left: "130px";
  margin-top: "30px";
  width: "100px";
}
.form_button-next {
  margin-right: "130px";
  margin-top: "30px";
  width: "100px";
}
.toggle_buttons {
  margin: 2px !important;
}
.sub_heading {
  margin-top: 25px !important;
}
.expertise_card {
  padding: 20px !important;
  width: calc(50% - 40px) !important;
  margin: 20px !important;
}
.expertise_card_heading {
  margin-top: 15px !important;
}
.label_color {
  color: #646a78 !important;
}
.step_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c5c9cd;
  background: white;
  line-height: 40px;
}
.circle {
  height: 20px;
  width: 20px;
  /* background-color: #bbb; */
  border: 1px solid #d87000;
  border-radius: 50%;
  display: block;
}
.step_circle_fill {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid #c5c9cd */
  background: #604ee1;
  line-height: 40px;

  color: white;
}
.circle_incomplete {
  height: 20px;
  width: 20px;
  /* background-color: #bbb; */
  border: 1px solid #ffc800;
  border-radius: 50%;
  display: block;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #d87000;
  /* border: 1px solid #d87000; */
  border-radius: 50%;
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}
.dot_incomplete {
  height: 8px;
  width: 8px;
  background-color: #ffc800;
  /* border: 1px solid #d87000; */
  border-radius: 50%;
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}

.input_icon {
  position: relative;
  top: -28px;
  left: 10px;
}
.money_input {
  text-align: right;
  text-decoration: "blue";
}
.progressBar {
  width: 80% !important;
  margin-top: 14px;
}
@media only screen and (max-width: 900px) {
  .main_form {
    width: 50vw !important;
  }
}
@media only screen and (max-width: 1100px) {
  .main_form {
    width: 60vw !important;
  }
}
@media only screen and (max-width: 768px) {
  .progressBar {
    width: 50% !important;
  }
  .main_form {
    width: 90vw !important;
    padding: 20px 30px;
  }
  .mob_hide {
    display: none;
  }
}
